<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <h2>新着商品</h2>
      <table class="table table-borderless">
        <tr>
          <td>写真</td>
        </tr>
        <tr>
          <td>商品名</td>
        </tr>
        <tr>
          <td>価格</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>
</div>