<div class="container">
  <div class="row">
    <div class="col-12">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
    <div class="col-4">
      <h2>新着商品</h2>
      <table class="table">
        <tr>
          写真
        </tr>
        <br>
        <tr>
          商品名
        </tr>
        <br>
        <tr>
          価格
        </tr>
      </table>
      <%= link_to "全ての商品を見る", items_path %>
    </div>
  </div>
</div>