<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>
<div class="container">
  <h2 class="mt-3">ジャンル一覧・追加</h3>
  <div class="row">
    <div class="col-sm-8 col-lg-6">
      <div class="row">
        <div class="col-3">
          <p>ジャンル名</p>
        </div>
        <div class="col-6">
          <!--ジャンル名入力フォーム-->
          フォーム
        </div>
        <div class="col-3">
          <!--submitボタン-->
          ボタン
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ジャンル</th>
          <th scope="col"><!--編集するボタンの枠--></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">ジャンル(名前)</th>
          <th scope="col">編集するボタン(実体)</th>
        </tr>
    </table>
  </div>


</div>
