@use '~bootstrap/scss/bootstrap';

header {
  font-family: cursive;
}

footer {
  background-color: #FFC0CB;
  font-family: cursive;
}

.about {
  color: #FFA500;
  font-family: cursive;
}

.title-color{
  background-color: #CCFFFF;
}